<html>
<head>
    <title></title>
</head>
<body>

{% if msg is defined %}
<p style="font-size:x-large;color:red;">{{msg}}</p>
{% endif %}

<p>What's your favorite flavor?</p>

<form method="get">
    <select name="faveflave">
        {% for flavor in flavors %}
        <option value="{{flavor[0]}}">{{flavor[0]}}</option>
        {% endfor %}
    </select>
    <p>How much do you like it?</p>
    <input type="text" name="howmuch" />
    <input type="submit" value="Yummm!" />
</form>
</body>
<hr/>
OR....<a href="{{url_for('recipemaker')}}">make your own flavor</a>!
</html>
