<html>
<head>
    <title>Check out our {{recipename}} recipe!</title>
</head>
<body>
<h1>Check out our {{recipename}} recipe!</h1>
<p>It starts out with luscious, velvety <b>{{flavor}}</b> ice cream, and adds these mixins:</p>

<ul>
{% for mixin in mixins %}
    <li>{{mixin[0]}}</li>
{% endfor %}
</ul>

<form action={{url_for('handleorder')}} method="get">
    How many cartons of {{recipename}} do you want, bro?
    <input type="text" name="quantity" />
    <input type="hidden" name="recipename" value="{{recipename}}" />
    <input type="submit" value="Yumm!" />
</form>
</body>
</html>
